#navbar > ul.nav.navbar-nav.navbar-right > a  {
  margin-left: 15px;
}

body > .container {
  margin-top: 90px;
}

body > footer {
  text-align: center;
}

::selection {
  background: #222222; /* WebKit/Blink Browsers */
  color: #ffffff;
}
::-moz-selection {
  background: #222222; /* Gecko Browsers */
  color: #ffffff;
}
